---
swagger: "2.0"
info:
  description: "TODO"
  version: "2.0.4"
  title: "Recordserver"
host: "recordserver.trafalgar.ws:8080"
basePath: "/v2"
schemes:
- "http"
produces:
- "application/json"
paths:
  /ship/{ship}/maps/{map}:
    get:
      description: "TODO"
      operationId: "getByShipAndMap"
      parameters:
      - name: "map"
        in: "path"
        description: "TODO"
        required: true
        type: "string"
      - name: "ship"
        in: "path"
        description: "TODO"
        required: true
        type: "string"
      - name: "sessionId"
        in: "header"
        description: "Lazylogin sessionId"
        required: true
        type: "string"
      - name: "correlationId"
        in: "header"
        description: "Request unique id."
        required: false
        type: "string"
      responses:
        200:
          description: "TODO"
          schema:
            $ref: "#/definitions/RankingEntry"
  /id/{id}:
    get:
      description: "TODO"
      operationId: "getById"
      parameters:
      - name: "id"
        in: "path"
        description: "TODO"
        required: true
        type: "string"
      - name: "sessionId"
        in: "header"
        description: "Lazylogin sessionId"
        required: true
        type: "string"
      - name: "correlationId"
        in: "header"
        description: "Request unique id."
        required: false
        type: "string"
      responses:
        200:
          description: "TODO"
          schema:
            $ref: "#/definitions/MapEntry"
  /ranking:
    post:
      description: "TODO"
      operationId: "postRanking"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "New ranking request."
        required: true
        schema:
          $ref: "#/definitions/NewMapEntryRequest"
      - name: "sessionId"
        in: "header"
        description: "Lazylogin sessionId"
        required: true
        type: "string"
      - name: "correlationId"
        in: "header"
        description: "Request unique id."
        required: false
        type: "string"
      responses:
        200:
          description: "TODO"
          schema:
            $ref: "#/definitions/NewMapEntryResponse"
definitions:
  RankingEntry:
    type: "object"
    properties:
      rankingEntry:
        type: "array"
        items:
          $ref: "#/definitions/RankingEntry_rankingEntry"
  NewMapEntryRequest:
    type: "object"
    properties:
      payload:
        type: "string"
  NewMapEntryResponse:
    type: "object"
    properties:
      id:
        type: "string"
      position:
        type: "integer"
        format: "int32"
      status:
        type: "string"
      verified:
        type: "boolean"
      username:
        type: "string"
  MapEntry:
    type: "object"
    properties:
      id:
        type: "string"
      payload:
        type: "string"
  RankingEntry_rankingEntry:
    properties:
      id:
        type: "string"
      position:
        type: "integer"
        format: "int32"
      time:
        type: "number"
        format: "float"
      username:
        type: "string"
