<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <appender name="LogzioLogbackAppender" class="io.logz.logback.LogzioLogbackAppender">
        <token>tJKAVFqvufYsSZDYSTxCjrWhKgOOpoRF</token>
        <logzioUrl>https://listener.logz.io:8071</logzioUrl>
        <logzioType>java</logzioType>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <additionalFields>appName=recordserver; environment=$ENVIRONMENT</additionalFields>
    </appender>

    <logger name="com.navid" level="DEBUG"/>

    <logger name="com.navid.lazylogin.context" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LogzioLogbackAppender"/>
    </root>
</configuration>